<th:block th:fragment="userSidebar">
    <aside class="user-sidebar">
        <h2>마이페이지</h2>

        <nav class="user-menu">
            <a th:href="@{/mypage/home}"
               th:classappend="${menu == 'home'} ? 'active'">
                홈
            </a>

            <a th:href="@{/mypage/info}"
               th:classappend="${menu == 'info'} ? 'active'">
                회원정보 관리
            </a>

            <a th:href="@{/mypage/products}"
               th:classappend="${menu == 'products'} ? 'active'">
                내 상품 관리
            </a>

            <a th:href="@{/mypage/wishlists}"
               th:classappend="${menu == 'wishlists'} ? 'active'">
                찜한 상품
            </a>

            <a th:href="@{/mypage/trades}"
               th:classappend="${menu == 'trades'} ? 'active'">
                거래 내역
            </a>
            
            <a th:href="@{/mypage/alerts}"
               th:classappend="${menu == 'reports'} ? 'active'">
                내 신고 내역
            </a>
        </nav>
    </aside>
</th:block>